@font-face {
  font-family: 'Amplitude-Regular';
  src: url('Amplitude-Regular.woff2') format('woff2'),
       url('Amplitude-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chinese-Regular';
  src: url('NotoSansCJKtc-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Chinese-Medium';
  src: url('NotoSansCJKtc-Medium.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Chinese-Light';
  src: url('NotoSansCJKtc-Light.woff') format('woff');
  font-style: normal;
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Lato:300);

h1 {
    font-size: 40px;
    font-family: Chinese-Regular, Amplitude-Regular, sans-serif;
}

h2 {
    font-size: 40px;
    font-family: Chinese-Medium, Amplitude-Regular, sans-serif;
}

h3 {
    font-size: 40px;
    font-family: Chinese-Light, Amplitude-Regular, sans-serif;
}

p {
    font-size: 11px;
    font-family: Amplitude-Regular, sans-serif;
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}

div {
    max-width: 100%;
    text-align: center;
}

th {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

img { 
    max-width: 25%; 
    height: auto; 
}

button {
    margin: 4px;
}

#code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#profilePictureDiv {
    text-align: center;
}

#profileImageDiv {
    height: 100px;
    width: 100px;
}

#statusMessage {
    position: relative;
    top: 40px;
}

.textLeft {
    text-align: left;
}

.buttonGroup {
    position: relative;
    top: 20px;
}

.hidden {
    display: none;
}

* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  @include box-sizing(border-box);
}

$purple: #d94fed !default;

body {
  margin: 0;
}
.drag-me {
  background: $purple;
  width: 180px;
  padding-left: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -90px;
  margin-top: -20px;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  @include transition(box-shadow .2s);
  @include border-radius(2px);

  &:hover {
    @include box-shadow(darken($purple, 30%) 0 1px 3px);
  }

  &:active {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }

  &:before {
    content: '.';
    position: absolute;
    left: 14px;
    font-size: 20px;
    line-height: 20px;
    color: darken($purple, 20%);
    @include text-shadow(0 5px darken($purple, 20%),
                         0 10px darken($purple, 20%),
                         5px 0 darken($purple, 20%),
                         5px 5px darken($purple, 20%),
                         5px 10px darken($purple, 20%),
                         10px 0 darken($purple, 20%),
                         10px 5px darken($purple, 20%),
                         10px 10px darken($purple, 20%));
  }

  span {
    color: darken($purple, 40%);
    line-height: 42px;
  }
}
